*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.topo{

   display: flex;
   height: 200px;
   border-bottom: 1px solid blue;
   justify-content: center;
   align-items: center;
}
.victor {
    height: 100px;

}

.titulo{
    text-align: center;
    height: 100px;
}


.link {
    height: 100px;
}

