*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.topo{

    background-image: linear-gradient(to right, rgb(101, 101, 224),rgb(85, 16, 85));
    height: 160px;
    display: flex;
    /* Controla a posição das div */
    flex-direction: row;
    flex-wrap: wrap;

    /* Alinhamento na horizontal */
    justify-content: center;
    /* Alinhamento na vertical */
    align-items: center;
   
}


.victor{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    margin-top: 1%;
    width: 40%;
    border-radius: 100%;
    box-shadow: 5px 5px 5px black ;
}


.titulo {

    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    background-image: linear-gradient(to right, rgb(101, 101, 224),rgb(85, 16, 85));
    text-align: center;
    font-size: 15px;
    color: white;
    
}


.link{

    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    background-image: linear-gradient(to right, rgb(101, 101, 224),rgb(85, 16, 85));
    width: 100%;
    height: 430px;
    padding: 10%;
}

.lista {

    list-style: none;
    text-decoration: none;
     
}

.lista li{

    margin: 10px;
    text-align: center; 
    padding: 10%; 
    width: 30%;
}

.lista a{
    
    text-decoration: none;
    color: white; 
    border: 1px solid black;
    border-radius:20%;
    padding: 100%;
    width: 90%;
    
}






